# **Exercise 1**

In the machine learning area the mean squared error (MSE) is a common metric to determine how good the predictions of a model are. The predictions of a model are compared to the true values, the closer the MSE gets to zero, the better is the model. The formular shows how this value is computed. Try to compute this value with two NumPy arrays.

$MSE = \frac{1}{n}\sum_i^n (y_i - p_i)^2$

In [ ]:
# 1.a import numpy and transform both lists to numpy arrays
y = [1,2,3,4,5,6,7]
p = [1,5,3,2,5,4,9]

In [ ]:
# 1.b compute the difference y-p for each element in the lists and square them
# Hint: when you work with numpy arrays, you do not have to use a for-loop.

In [ ]:
# 1.c compute the mean of 1.b

# **Exercise 2**

In this first exercise we will have again a look at the dataset which contains listings from AirBnB appartments from Berlin. Execute the cell below to load the data and to print out the head of the dataframe

In [ ]:
# import libraries
import pandas as pd
import matplotlib.pyplot as plt

# load data and store in variable df
df = pd.read_csv('https://drive.google.com/uc?id=1Rzq2VqPVRM2kfMuh_jToJKzKUvBOC0vp')

# some cleaning, we come to this topic in the next lecture
df['price'] = df['price'].str.replace('$','').str.replace(',','').astype(float)
df.head()

         id  price  ... square_feet  guests_included
0  28684898   50.0  ...         NaN                1
1  22607348   10.0  ...         NaN                1
2  21019199   35.0  ...         NaN                1
3  21919556   99.0  ...         NaN                1
4   4820648   39.0  ...         NaN                1

[5 rows x 20 columns]

In [ ]:
# 2.a the size of the apparments is given in square feet.
# create a new column 'square_meters' which is computed from the column 'square_feet' divided by 10.764

In [ ]:
# 2.b create a histrogram which shows a distribution of the appartment sizes
# add also a title and a x-label

In [ ]:
# 2.c count how many appartments are listed in each neigbhourdhood (column neighbourhood_group_cleansed)

In [ ]:
# 2.d show the mean prices for each neigbourhood in descending order

# **Exercise 3**

In this exercise we want to upload some data to Google colab and read it with pandas. If you have some own data, you can use this. Otherwhise you can download the AirBnB data to your local machine when you klick on [this link](https://drive.google.com/file/d/1uMjwGn5mEx2iI2NNvY2U_S3Pz2pey4cj/view?usp=sharing). When you look at the code above where we loaded the data by just passing a URL to the `pd.read_csv()` method. In general, our data is of course not accesible via such a link. Therefore we have to upload our data to Google Colab.



1.   On the left side you can find a folder symbol, click on it.
2.   In the menu you will find a button to upload data
3.   Select your data from your local machine and open it
4.   When the data is uploaded, the file should appear in the menu
5.   Klick with a righ-click on your data and select "Copy path"/"Pfad kopieren"



Now you can load your data with the pandas read_csv() method by passing the copied path as string to the method.
Load the data and print out the head to check that everything worked.


When you close the connection to Google colab the uploaded file will be deleted. So if you want to continue your analysis, you have to upload the file again next time.

In [ ]:
data = pd.read_csv('PATH TO FILE HERE')