## **Exercise 1**

In [ ]:
# load functions and data
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import seaborn as sns

df = sns.load_dataset("penguins")
df.fillna(df.mean(),inplace=True)

In [ ]:
# 1.a create again a pairplot with hue on species

In [ ]:
# 1.b create a correlation table by applying the .corr() method to a dataframe

In [ ]:
# 1.c add the correlation table to seaborns heatmap function

## **Exercise 2**

In [ ]:
# import libraries
import pandas as pd
import matplotlib.pyplot as plt

# load data and store in variable df
df = pd.read_csv('https://drive.google.com/uc?id=1Rzq2VqPVRM2kfMuh_jToJKzKUvBOC0vp')

df.head()

         id   price  ... square_feet  guests_included
0  28684898  $50.00  ...         NaN                1
1  22607348  $10.00  ...         NaN                1
2  21019199  $35.00  ...         NaN                1
3  21919556  $99.00  ...         NaN                1
4   4820648  $39.00  ...         NaN                1

[5 rows x 20 columns]

In [ ]:
# 2.a the price is currently stored as a string, for example: $1,000.00
# we need to remove the dollar sign and the comma, afterwars we can transform the column to type float
df['price'] =  # replace dollar sign
df['price'] =  # replace comma
df['price'] =  # transform to float

In [ ]:
# 2.b the same can be done with the column cleaning_fee

In [ ]:
# 2.c some columns have a lot of missing values.
# try to understand how the following comand works.
# try to execute df.isna() only, then df.isna().sum() ...

df.isna().sum().sort_values(ascending=False)

square_feet                     13260
cleaning_fee                     4272
review_scores_value              2678
beds                               29
bathrooms                          23
bedrooms                           11
price                               0
neighbourhood_group_cleansed        0
latitude                            0
longitude                           0
availability_30                     0
guests_included                     0
bed_type                            0
minimum_nights                      0
maximum_nights                      0
availability_365                    0
property_type                       0
is_business_travel_ready            0
room_type                           0
id                                  0
dtype: int64

In [ ]:
# 2.d fill ne missing values with the mean value, check with the above command that
# no missing values are left

In [ ]:
# 2.d compute the corelations and look which features have a high corelation with price

In [ ]:
# load functions
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [ ]:
# 2.e define a feature dataframe with 3 features and the target column price
# create a train and test dataset

In [ ]:
# 2.f train a linear regression model

In [ ]:
# 2.g test your model

In [ ]:
# 2.h include more features to your model and look how the root mean square error gets lower