# **Exercise 1**

In [ ]:
a = [1,3,4,5,21,5,6,6,2,6,7,8]

In [ ]:
# 1.a acces the first element

In [ ]:
# 1.b acces elements from index 4 to 10 with stepsize 3

In [ ]:
# 1.c same slicing techniques work for strings!
# acces every second element from this string:

s = 'haevlbldoe acfoeufrgsee'

'hello course'

In [ ]:
temperatures = {'Frankfurt':[10,11,14,13],
           'Berlin': [10,9,8,10]}

In [ ]:
# 1.d access the list which contains the temperatures from Frankfurt

[10, 11, 14, 13]

In [ ]:
# 1.e acces again the list from frankfurt, but now only the first 2 days

[10, 11]

# **Exercise 2**

In [ ]:
l = [0,1,2,3,4,5,6,7,8]

In [ ]:
# 2.a Iterate over the list with a for-loop and print out each element

0
1
2
3
4
5
6
7
8

In [ ]:
# 2.b Iterate again over the list, but include an if-condition: Only numbers smaller than 5 should be printed

0
1
2
3
4

In [ ]:
# 2.c Iterate over this list and use a counter to count the numbers smaller than 5

5

# **Exercise 3**

In [ ]:
# 3.a Define a function which filters a list like in Exercise 2
def my_filter(input_list):
  # start with a counter with value 0


  #iterate over the list stored in the variable input_list


    # for each element in the list, check if this element is smaller then 5


      # if True, increase counter by 1

  return counter

In [ ]:
a_list = [0,1,2,3,4,5,6,7,8,9,10]
my_filter(a_list)

5

In [ ]:
# 3.b The function should take as parameters a list and a filter value: only numbers below this filter value should be counted

def my_filter(input_list, filter):
  # start with a counter with value 0

  #iterate over the list stored in the variable input_list

    # for each element in the list, check if this element is smaller then filter

      # if True, increase counter by 1
  return counter